

#chishenme-wrapper {
  left: 50%;
  text-align: center;
  min-height:100%
}

#chishenme-wrapper h1 {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 300;
  font-size: 30px;
}

#chishenme-wrapper h1 b{
  font-weight: 700;
}

#chishenme-start {
  width: 120px;
  height: 40px;
+margin-left: 260px;
  vertical-align: middle;
  font-family: "微软雅黑";
  cursor: pointer;
}

#chishenme-stop {
  display:none;
  width: 120px;
  height: 40px;
  vertical-align: middle;
  font-family: 微软雅黑;
  cursor: pointer;
}

#chishenme-cfg {
  color: #666;
  text-shadow: 1px 1px 1px #eee;
  font-size: 12px;
  cursor: pointer;
}
.temp {
  position: absolute;
  z-index: -1;
  color: #777;
}

#chishenme-popbox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -210px;
  padding: 0 10px;
  width: 400px;
  height: 280px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 0 22px #333, inset 0 -3px 7px #DDD;
+border: 1px solid #666;
}

#chishenme-ok {
  float: right;
  margin: -3px 0 0;
  color: #666;
  cursor: pointer;
  width: 50px;
  height: 22px;
}

